<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43466013030-8j1tpqbbl85ckj2t8m1d8gni7tk6c3pf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43466013030-8j1tpqbbl85ckj2t8m1d8gni7tk6c3pf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>43466013030-brv9pje89h1dj2qclh6c8fg1uskethbn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD_adYh19QvrsUrG5ujFnLFgaQBH2lusvc</string>
	<key>GCM_SENDER_ID</key>
	<string>43466013030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mengaji.hijrah.mengaji</string>
	<key>PROJECT_ID</key>
	<string>mengaji-65a3d</string>
	<key>STORAGE_BUCKET</key>
	<string>mengaji-65a3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43466013030:ios:0adc9839ce7864b8b270a7</string>
</dict>
</plist>